@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
}

:root{
    --primary : #0B9A61;
    --primary-variant : #78C1A4;
    --secondary : #F6BE29;
    --black : #1A1A1A;
    --grey : #7e7e7e;
    --white : #FFFFFF;
    --surface : #F7F7F7;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-image: url("assets/img-about.jpg");
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px;
    overflow-x: hidden;
    }


/* HEADER */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    box-sizing: border-box;
    padding: 1vw 10vw 1vw 10vw;
    background-color: var(--white);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.header h1{
    font-size: 1.5em;   
}
.header h1 a{
    color: var(--black);
    text-decoration: none;
}
.header .nav ul{
    display: flex;
    flex-direction: row;
}
.header .nav ul li{
    list-style: none;
    padding: 6px 2vw;
}
.header .nav ul li a{
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 600;
    color: var(--black);
}

.header .nav ul li a:hover{
    opacity: 0.8;
}

.header .nav ul li:nth-child(3), .header .nav ul li:nth-child(4){
    border: 1px solid var(--black);
    margin-left: 12px;
    border-radius: 4px;
}

.header .nav ul li:nth-child(3){
    background-color: var(--primary);
    border: 1px solid var(--primary);

}
.header .nav ul li:nth-child(3) a{
    color: var(--white);
}




/* CONTAINER */
.container{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 8vw auto 8vw auto;
}
.container p{
    font-size: 0.8em;
}
.content{
    display: flex;
    column-gap: 2vw;
    flex-direction: row;
}
.content-box{
    padding: 1.5vw 2vw 1vw 2vw;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
}
.content-box:nth-child(1){
    flex-basis: 60%;
}
.content-box:nth-child(2){
    flex-basis: 30%;
    height: fit-content;
}
.content-box:nth-child(1) *{
    margin-bottom: 1vw;
}
.content-box h1{
    font-size: 1.3em;
    line-height: 1.5em;
}
.content-box p{
    text-align: justify;
}
.content-box:nth-child(2) button{
    width:100%;
    padding: 12px 0;
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    margin-top: 0.5vw;
}
.content-box:nth-child(2) button:nth-child(3){
    background-color: transparent;
    border: 1px solid var(--black);
}
.content-box:nth-child(2) button:nth-child(3) a{
    color: var(--black);
}
.content-box:nth-child(2) button a{
    color: var(--white);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
}
.content-box:nth-child(2) .socialmedia{
    margin-bottom: 1vw;
}
.content-box:nth-child(2) .socialmedia a{
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    color: var(--black);

}
.content-box:nth-child(2) a img{
    min-width:24px;
    width: 2.5vw;
}
.content-box:nth-child(2) a p{
    font-size: 0.8em;
    font-weight: 600;
}
.footer{
    background-color: var(--white);
    width: 100%;
    height: 7vw;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    font-size: 0.7em;
}


@media only screen and (max-width: 1024px) {
    body{
        font-size: 16px;
    }
    
}
@media only screen and (max-width: 700px) {
    body{
        font-size: 14px;
    }

}
@media only screen and (max-width: 600px) {
    body{
        font-size: 12px;
    }
    .header{
        row-gap: 2vw;
        flex-direction: column;
        align-items: center;
    }
    .header h1{
        text-align: center;
    }
    .header .nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .header .nav ul li{
        padding: 4px 16px;
    }
    .header .nav ul li a{
        font-size: 0.8em;
    }
    .header .nav ul li:nth-child(3), .header .nav ul li:nth-child(4){
        border: none;
        margin-left: 0;
        border-radius: none;
    }
    .header .nav ul li:nth-child(3){
        background-color: transparent;
        border:none;    
    
    }
    .header .nav ul li:nth-child(3) a{
        color: var(--black);
    }
}

@media only screen and (max-width: 500px){
    body{
        font-size: 10px;
    }
    .container{
        width: 90vw;
    }
    .header .nav ul li{
        padding: 4px 12px;
    }
}